* {
  box-sizing: border-box;
}

body {
  margin-bottom: 50px;
}

.background-image {
  background-image: url(../css/topgunburgers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 85%;
}

.searchBtn {
  width: 100%;
}

.main-h1 {
  background-color: rgba(0, 30, 30, 0.5);
}

.jumbotron {
  padding: 90px;
}
