* {
  box-sizing: border-box;
}

body {
  margin-bottom: 50px;
}

.background-image {
  background-image: url(http://st2.depositphotos.com/2208212/7832/i/450/depositphotos_78322746-stock-photo-hamburger-pinned-with-knife.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 75%;
}

.searchBtn {
  width: 100%;
}
